.bar-notification {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    box-shadow: $shadow-material-4;
    background: var(--yellow);
    color: var(--white);
    z-index: 1000;
    padding: 10px;

    &.error {
        background-color: var(--red);
    }

    &.success {
        background: var(--success-color);
    }

    .content {
        font-size: 14px;
        margin: 0;
    }

    a {
        color: var(--secondary-color);
    }

    .close {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);

        &::before {
            content: "\e910";
            @extend .icon;
            cursor: pointer;
        }
    }
}
