
.add-to-cart-popup {
    background: var(--white);
    max-width: 600px;
    width: calc(100% - 60px);
    margin: 0 auto;
    position: relative;
    display: none;

    .mfp-close {
        transform: translate(50%, -50%);
        color: var(--white) !important;
        background: var(--red) !important;
        opacity: 1;
        height: 30px;
        width: 30px;
        padding: 0 !important;
        line-height: 1;
        border-radius: 50%;
        border: 2px solid var(--white) !important;
    }

    .product-title {
        a {
            font-weight: 700;
            font-size: 15px;
            line-height: 20px;
            color: #333333;
            text-decoration: none;
        }
    }

    .promotion-banner {
        display: block;
        width: 100%;
        position: relative;
        overflow: hidden;
        min-height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;

        &::before {
            content: "";
            display: block;
            padding-top: 80%;
        }

        img {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%,-50%);
            display: none;
        }
    }

    .row {
        margin: 0;
    }

    .prices {
        text-align: left;
        font-size: 22px;
        color: var(--secondary-color);

        .old-price {
            font-size: 18px;
            color: var(--grey);
        }
    }

    .buttons {
        display: block;
        text-align: center;
        padding: 15px 10px;

        .button-1 {
            font-size: 14px;
            font-weight: 400;
            min-width: 190px;
        }

        .continue-shopping-button {
            background: var(--secondary-color);
            border-color: var(--secondary-color);
        }
    }

    .popup-title {
        h3 {
            margin: 0;
            text-align: center;
            background: #F1F4F6;
            font-weight: 700;
            font-size: 15px;
            line-height: 40px;
            margin-bottom: 15px;
        }
    }
}

.mfp-ready {
    .add-to-cart-popup {
        display: block;
    }
}