.category-grid {
    .item-box {
        width: 100%;

        @media (min-width: $sm) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }


    @media (min-width: $sm) {




        .category-item {
            position: relative;
            background: url(../images/category-pattern.png) no-repeat;
            background-size: cover;
            background-position: right top;
            background-color: var(--category-odd);
            padding: 15px;
            padding-left: 60%;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 130px;

            &:nth-child(2) {
                margin-top: 18%;
            }

            .title {
                margin: 0;
                text-align: center;
                

                a {
                    display: inline;
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--white);
                    text-decoration: none;

                    &::after {
                        content: "\e94a";
                        font-family: "icomoon" !important;
                        display: block;
                        background: var(--white);
                        height: 25px;
                        width: 25px;
                        border-radius: 50%;
                        opacity: 0.6;
                        position: absolute;
                        bottom: 3px;
                        right: 3px;
                        font-size: 15px;
                        color: var(--black-faded);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-weight: 700;
                    }
                }

                &::after {
                    content: "";
                    display: block;
                    border-bottom: 2px solid var(--white);
                    width: 50px;
                    margin: 10px auto 0;
                }
            }

            .picture {
                position: absolute;
                bottom: 15px;
                left: 15px;
                width: 100%;
                max-width: calc(55% - 15px);

                &::before {
                    content: "";
                    display: block;
                    padding-top: 70%;
                }

                a {
                    display: block;

                    img {
                        max-width: 100%;
                        max-height: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%) scale(1);
                        transition: transform .3s ease-in-out;

                        &:hover {
                            transform: translateX(-50%) scale(1.06);
                            transition: transform .3s ease-in-out;
                        }
                    }
                }
            }
        }

        .swiper-slide:nth-child(even) {
            .category-item {
                background-color: var(--category-even);
            }
        }
    }

    @media (max-width: $sm - 1) {
        .swiper-slide {
            padding-left: 0;
            padding-right: 0;
        }

        .swiper-pagination {
            bottom: 0 !important;

            :not(.swiper-pagination-bullet-active-main) {
            }
        }

        .item-box {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;

            @media (max-width: $sm - 1 ) {
                padding-left: 0;
                padding-right: 0;
            }

            .category-item {
                display: flex;
                flex-direction: column-reverse;
                justify-content: center;
                align-items: center;
                padding: 0 7.5px 10px;
                text-align: center;
                width: 100%;

                .picture {
                    width: 100%;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;
                    border: 1px solid #C6CCD0;
                    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);

                    &::before {
                        content: "";
                        display: block;
                        padding-top: 100%;
                    }

                    a {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        height: 60%;

                        img {
                            height: 100%;
                            width: auto;
                            max-width: initial;
                        }
                    }
                }


                .title {
                    margin: 10px 0;

                    @media (max-width: $md - 1) {
                        white-space: nowrap;
                        margin-top: 4px;
                        width: 100%;
                    }

                    a {
                        font-size: 12px;
                        line-height: 14px;
                        font-weight: 700;
                        text-decoration: none;
                        display: block;
                        color: var(--black);
                        white-space: nowrap;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}

.home-page-category-grid {
    > .title {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        

        @media (max-width: $sm - 1) {
            display: none;
        }
    }

    .swiper-slide {
        .item-box {
            @media (min-width: $lg) {
                padding-top: 50px;
            }
        }
    }

    @media (max-width: $sm - 1) {
        .swiper-slide {
            padding-left: 0;
            padding-right: 0;
        }

        .swiper-pagination {
            bottom: 0 !important;

            :not(.swiper-pagination-bullet-active-main) {
            }
        }

        .swiper-slide {
            .item-box {
                .category-item {
                    width: 50%;
                }
            }
        }
    }
}
