@import "../variables/breakpoint";

.order-progress {
    margin: 0 0 50px;
    padding: 15px 0;
    text-align: center;

    li {
        display: inline-block;
        margin: 10px .7%;
        padding: 20px 10px;
        width: 11.1%;

        a {
            display: block;
            min-width: 70px;
            font-size: 14px;
            font-weight: 700;
            
            text-decoration: none;
        }

        &.active-step {
            background: var(--black);
            box-shadow: 1px 1px 10px var(--grey);
            border-radius: 3px;

            &:hover {
                background: var(--secondary-color);
            }

            a {
                color: var(--white);

                &::before {
                    content: "\e94b";
                    @extend [class^="icon-"];
                    display: block;
                    margin-bottom: 10px;
                    font-size: 20px;
                    color: var(--white);
                }
            }
        }

        &.inactive-step {
            background: var(--white);
            box-shadow: 1px 1px 5px var(--dark-grey);
            border-radius: 3px;

            a {
                opacity: .5;
                color: var(--black);
                cursor: default;

                &::before {
                    content: "\e94b";
                    @extend [class^="icon-"];
                    display: block;
                    margin-bottom: 10px;
                    font-size: 20px;
                    color: var(--black);
                }
            }
        }
    }
}

.checkout-page {
    .order-progress {
        li {
            width: 14.1%;
        }
    }
}

@media (max-width: $md) {
    .order-progress {
        li {
            display: inline-block;
            margin: 10px 8px;
            padding: 10px 8px;
            width: 42%;
        }
    }

    .checkout-page {
        .order-progress {
            li {
                display: inline-block;
                margin: 10px 8px;
                padding: 10px 8px;
                width: 42%;
            }
        }
    }
}
