
.pager {
    margin: 0 0 20px;

    ul {
        text-align: center;
        font-size: 0;
    }

    li {
        display: inline-block;
        margin: 5px;
        vertical-align: top;

        a, span {
            display: block;
            min-width: 35px;
            height: 35px;
            border: 1px solid var(--light-grey);
            border-radius: 3px;
            padding: 8px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
        }

        span {
            border-color: transparent;
            background-color: var(--primary-color);
            color: var(--white);
        }

        &.previous-page *,
        &.next-page *,
        &.first-page *,
        &.last-page * {
            background-position: center;
            background-repeat: no-repeat;
            font-size: 0;
            color: var(--white);
        }

        &.previous-page * {
            background-image: url('../images/prev.png');
        }

        &.next-page * {
            background-image: url('../images/next.png');
        }

        &.first-page * {
            background-image: url('../images/first.png');
        }

        &.last-page * {
            background-image: url('../images/last.png');
        }

        a {
            color: var(--dark-grey);
        }

        a:hover,
        a:focus {
            border-color: transparent;
            background-color: var(--light-grey);
        }
    }
}
