
.product-item {
    position: relative;
    padding: 0;
    border: 1px solid #e9e9ed;
    border-radius: 5px;
    background: var(--white);
    transition: all 0.3s;
    overflow: hidden;
    text-align: center;

    .tax-shipping-info {
        display: block;
        width: 100%;
    }

    .product-title {
        margin-bottom: 8px;

        @media (max-width: $sm - 1) {
            margin-bottom: 5px;
        }

        a {
            font-size: 14px;
            color: var(--black-faded);
            text-decoration: none;
            display: block;
            text-align: center;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            height: 34px;
            line-height: 17px;
            letter-spacing: 0.03em;

            @media (max-width: $sm - 1) {
                font-size: 10px;
                line-height: 12px;
                height: 26px;
            }
        }
    }

    .sku {
        text-align: center;
        margin-bottom: 8px;
    }

    .product-rating-box {
        .rating {
            background: url(../images/rating1.png) repeat-x;
            width: 70px;
            height: 14px;
            background-size: 14px;
            margin: auto;

            div {
                background: url(../images/rating2.png) repeat-x;
                height: 14px;
                background-size: 14px;
            }
        }
    }


    .picture {
        position: relative;
        overflow: hidden;
        margin: 0;
        margin-bottom: 15px;

        &::before {
            content: "";
            display: block;
            padding-top: 100%;
            overflow: hidden;

            @media (max-width: $sm - 1) {
                padding-top: 75%;
            }
        }


        > a {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;

            img {
                @media (min-width: $sm) {
                    width: auto;
                    max-width: initial;
                    height: auto;
                    width: auto;
                    max-width: 105%;
                }
            }
        }
    }

    .details, .add-info {
        padding: 0 15px;

        @media (max-width: $md - 1) {
            padding: 0 8px;
        }
    }

    .prices {
        font-size: 17px;
        text-align: center;
        margin: 10px 0 10px;
        color: var(--grey);

        .actual-price {
            font-weight: 600;
            color: var(--primary-color);
        }

        @media (min-width: $md) {
            min-height: 42px;
        }

        @media (max-width: $sm - 1) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    .description {
        display: none;
        text-align: center;

        &.hide {
            display: none;
        }
    }

    .buttons {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;

        @media (max-width: $sm - 1) {
            top: 5px;
            right: 5px;
        }

        .button-2 {
            transition: all 0.3s;
            opacity: 0;

            @media (max-width: $sm - 1) {
                opacity: 1;
                height: 28px;
                width: 28px;
                margin-bottom: 5px !important;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);

                &:not(.product-box-add-to-cart-button) {
                    background: #fff;
                    color: var(--primary-color);
                }

                &::before {
                    font-size: 12px;
                }
            }
        }
    }

    &:hover {
        box-shadow: 0 1px 5px #ddd;

        .buttons {
            .button-2 {
                margin-bottom: 10px;
                opacity: 1;
            }
        }
    }

    .attributes {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        height: 22px;

        ul {
            list-style-type: none;
        }

        .tooltip-container {
            display: none !important;
        }

        .attribute-square {
            border-radius: 50%;
            position: relative;
        }

        .selected-value .attribute-square-container .attribute-square::before,
        input:checked ~ .attribute-square-container .attribute-square::before {
            content: "\e967";
            display: inline-block;
            color: #ededed;
            font-size: 12px;
            font-family: "icomoon" !important;
            position: absolute;
            font-size: 8px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            /* text-shadow: 1px 1px #ddd; */
        }
    }
}

.item-box {
    margin-bottom: 15px;

    .product-item {
        height: 100%;
    }
}