.blogpost-page {
    .post-date {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .post-body {
        font-size: 15px;
        color: var(--black-faded);
        margin-bottom: 10px;
    }

    .new-comment {
        margin-bottom: 15px;
    }
}
.comment-list {
    .title {
        margin-bottom: 10px;
    }
    .blog-comment {
        background: #eee;
        border-radius: 6px;
        padding: 15px;
        margin-bottom: 15px;

        .user-info {
            font-weight: 700;
        }

        .comment-time {
            margin-bottom: 10px;
        }
    }
}
