.product-reviews-overview {
    margin: 15px 0;

    .product-review-box {
        display: inline-block;
        vertical-align: middle;
        margin-right: 26px;
    }

    .product-review-links {
        display: inline-block;
        vertical-align: middle;
        font-size: 0;

        .separator {
            display: none;
        }

        a {
            display: inline-block;
            background: #fff;
            border: 1px solid var(--primary-color);
            color: var(--primary-color);
            box-sizing: border-box;
            border-radius: 3px;
            height: 35px;
            padding: 8px 15px;
            text-decoration: none;
            vertical-align: top;
            font-size: 14px;
        }

        .separator ~ a {
            background: var(--dark-grey);
            color: var(--white);
            border: none;
            margin-left: 5px;
        }
    }

    .rating {
        background: url(../images/starbg.png) repeat-x;
        width: 70px;
        height: 14px;
        background-size: 14px;

        div {
            background: url(../images/product-box-rating.png) repeat-x;
            height: 14px;
            background-size: 14px;
        }
    }
}

.rating-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .rating-options {
        padding: 0 10px;
    }
}
.product-review-item {
    .product-review-helpfulness {
        .vote-options {
            display: block;
            margin: 10px 0;

            .vote {
                display: inline-block;
                padding: 10px 20px;
                background: var(--primary-color);
                margin-right: 10px;
                color: #fff;
                border-radius: 3px;
                cursor: pointer;
            }
        }
    }

    .vote-stats {
        font-size: 0;

        span {
            font-size: 16px;
            display: block;

            &::before {
                content: "Yes : ";
                display: inline;
                font-size: 16px;
                font-weight: 700;
            }

            &:last-child::before {
                content: "No : ";
            }
        }
    }
}