#product-details-tab {
    margin-bottom: 30px;

    .ui-widget-header {
        background: var(--white);
        border-width: 0 0 1px 0;
        padding: 0;

        .ui-tabs-tab {
            background: none;
            border: none;

            a {
                color: var(--dark-grey);
                
                font-weight: 600;
            }

            &.ui-state-active {
                a {
                    color: var(--secondary-color);
                }
            }
        }
    }

    .separator {
        display: none;
    }
}
