
#product-review {
    .product-review-list {
        .title {
            font-size: 28px;
            border-bottom: 1px solid #ddd;
            margin-bottom: 15px;
        }

        .product-review-item {
                margin-bottom: 15px;

            .vote-stats {
                display: flex;
                justify-content: flex-start;

                span {
                    margin-right: 20px;
                }
            }
        }

        .review-item-head {
            background: #efefef;
            padding: 10px;
            align-items: center;

            .review-title {
                margin-bottom: 8px;
            }
        }

        .rating {
            background: url(../images/starbg.png) repeat-x;
            width: 70px;
            height: 14px;
            background-size: 14px;

            div {
                background: url(../images/product-box-rating.png) repeat-x;
                height: 14px;
                background-size: 14px;
                font-size: 0;
            }
        }

        .review-content {
            padding: 10px;
        }
    }

    .fieldset {
        margin-bottom: 10px;

        .name-description {
            margin-bottom: 6px;
            font-weight: 600;
        }
    }
}
