.prices {
    text-align: center;
    font-size: 24px;
    margin: 15px 0;

    .label, label {
        display: none;
    }

    > div {
        display: inline-block;
        vertical-align: middle;
    }

    .old-product-price {
        color: var(--dark-grey);
        text-decoration: line-through;
        margin-right: 15px;
    }

    .non-discounted-price {
        text-decoration: line-through;
        padding-right: 10px;
    }

    .product-price {
        font-size: 24px;
        color: var(--secondary-color);
    }
}
