.attributes {
    margin-bottom: 10px;

    dt, .attribute-label {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        display: block;
        margin-bottom: 10px;
        color: var(--black);
    }

    dd, .attribute-data {
        margin-bottom: 15px;

        select {
            display: block;
            width: 100%;
            padding: 10px;
            border: 1px solid var(--dark-grey);
            color: var(--black-faded);
            border-radius: 3px;
        }

        input {
            &[type="text"] {
                display: block;
                width: 100%;
                border: 1px solid var(--grey);
                color: var(--grey);
                height: 32px;
                outline: none;
                padding: 5px;

                &:focus {
                    border: 1px solid var(--black-faded);
                }
            }
        }

        ul {
            list-style-type: none;
            font-size: 0;

            li {
                display: inline-block;
                position: relative;
                font-size: 14px;
                margin-right: 10px;
                margin-bottom: 10px;

                label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--grey);
                    text-align: center;
                    border-radius: 3px;
                    padding: 7px 25px;
                    min-width: 60px;
                    color: var(--grey);
                    font-size: 16px;
                    font-weight: 500;
                    margin-right: 0;

                    &::before {
                        display: none;
                    }

                    .attribute-square {
                        height: 25px;
                        width: 25px;
                        border-radius: 3px;
                        box-shadow: none;
                    }
                }

                &.selected-value {
                    label {
                        border: 1px solid var(--secondary-color);
                        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
                    }
                }

                input:checked {
                    ~ label {
                        border: 1px solid var(--secondary-color);
                        color: var(--secondary-color);
                        box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
                    }
                }

                .tooltip-container {
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    background: var(--white);
                    display: flex;
                    flex-direction: column-reverse;
                    width: 120px;
                    box-shadow: $shadow-style-2;
                    display: none;
                }

                &:hover {
                    .tooltip-container {
                        @media (min-width: $md) {
                            display: block;
                        }
                    }
                }
            }

            &.color-squares {
                li {
                    label {
                        padding: 5px;

                        .attribute-square {
                            margin: 0;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    input[type="text"] {
        margin-bottom: 10px;
    }
}
