.sticky-add-tocart {
    position: fixed;
    background: var(--white);
    width: 100%;
    z-index: 900;
    box-shadow: 0 1px 10px rgba(0, 0, 0,0.3);
    transition: all 0.125s;
    padding: 7px 5px;

    &.hide-cart {
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden;
    }

    @media (max-width: $sm - 1) {
        top: 100px;

        .product-name, .price-cart-wrapper .prices {
            display: none;
        }

        .add-to-cart {
            .add-to-cart-panel {
                align-items: center;

                .add-to-cart-button {
                    height: 35px;
                }
            }

            .qty-wrapper {
                .qty-input {
                    height: 35px;
                }

                .qty-button {
                    font-size: 16px;
                }
            }

            .add-to-cart-checkout-button {
                height: 35px;
                border: none;
            }
        }
    }



    @media (min-width: $sm) {
        display: block;
        bottom: 0;
        left: 0;



        .row {
            align-items: center;
        }

        .prices {
            margin-right: 15px;

            .non-discounted-price {
                color: #B6B1AD;
            }
        }

        .qty-wrapper {
            margin-right: 5px;
        }

        .price-cart-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .add-to-cart-panel {
                width: calc(100% - 122px);
            }

            .add-to-cart-checkout-button {
                height: 40px;
                border: none;
            }

            .add-to-cart-button {
                height: 40px;
                width: auto;
                white-space: nowrap;
            }

            .qty-wrapper {
                .qty-input {
                    height: 40px;
                }
            }
        }

        .product-name {
            h1 {
                font-style: normal;
                font-weight: 700;
                font-size: 17px;
                line-height: 20px;
                color: var(--primary-color);
                margin: 0;
            }
        }
    }


    @media (max-width: $lg - 1) {

        .prices {
            font-size: 14px;

            > div {
                display: block;
            }
        }

        .product-price span {
            font-size: 18px;
        }
    }

    @media (max-width: $md - 1) {
     box-shadow: 0 1px 5px rgba(0, 0, 0,0.15);

        .price-cart-wrapper {
            .add-to-cart {
                width: 320px;
                margin: auto;
            }
        }
    }
}
