.trust-mark-block {
    padding: 20px 0;

    .acceptable-card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 15px;
        .label {
            max-width: 30%;
            margin-right: 15px;
            white-space: nowrap;
        }
    }

    .trust-block-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        .trust-mark {
            display: block;
            width: calc(50% - 10px);
            margin-right: 20px;
            margin-bottom: 20px;
            text-align: center;
            border: 1px solid var(--light-grey);
            color: var(--dark-grey);
            border-radius: 3px;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
            padding: 10px;

            &:nth-child(even) {
                margin-right: 0;
            }

            &::before {
                content: "\e928";
                @extend .icon;
                font-size: 26px;
                vertical-align: middle;
                margin-right: 10px;
            }

            &.cash-on-delivery::before {
                content: "\e94f";
            }

            &.easy-return::before {
                content: "\e949";
            }

            &.support-24::before {
                content: "\e907";
            }
        }
    }
}
