.sitemap-page {
    .description {
        padding: 30px 10px;
        text-align: center;
    }

    .entity {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        border-radius: 3px;
        padding: 30px;
        margin-bottom: 30px;

        .entity-body {
            li {
                display: inline-block;
                margin-right: 10px;
                line-height: 4;

                a {
                    text-decoration: none;
                    color: var(--black);
                }

                &::after {
                    content: "\e94a";
                    @extend [class^="icon-"];
                    font-size: 10px;
                    margin-left: 10px;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: 700;
                    color: var(--black);
                }

                &:last-child::after {
                    content: "";
                }
            }
        }
    }
}
