.order-completed-page {

    .page-title {
        padding: 20px;
    }

    .buttons {
        .order-completed-continue-button {
            float: none;
            display: inline-block;
        }
    }
}
