.container {
    max-width: 100%;

    padding: {
        left: 10px;
        right: 10px;
    }

    margin: {
        left: auto;
        right: auto;
    }

    @each $property, $value in $breakpoints {
        @if($property == xl) {
            @media (min-width: $value) {
                max-width: 1660px;
                width: calc(100% - 80px);

                padding: {
                    left: 7.5px;
                    right: 7.5px;
                }
            }
        }
        @else if($property == lg) {
            @media (min-width: $value) {
                max-width: calc(100% - 80px);

                padding: {
                    left: 7.5px;
                    right: 7.5px;
                }
            }
        }
        @elseif($property != xs) {
            @media (min-width: $value) {
                max-width: calc(100% - 30px);
            }
        }
    }


    &-fluid {
        max-width: 100%;

        padding: {
            left: 15px;
            right: 15px;
        }
    }
}
