*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body, html {
    background: var(--white);
    color: var(--black);
    text-align: left;
    margin: 0;
    font-family: 'Lato';
    font-size: 14px;
    direction: ltr;
}

body{
    @media (max-width: $md - 1) {
        padding-bottom: 80px;
    }
}
.html-product-details-page body {
    padding-bottom: 80px;
}
p,h1,h2,h3,h4,h5,h6 {
    margin-bottom: 15px;
}
img {
    height: auto;
    width: auto;
    max-width: 100%;
}
ul {
    list-style-type: none;
}
.title {
    margin: 0 0 30px;

    @media (max-width: $md - 1) {
        margin: 0 0 15px;
    }

    strong {
        font-size: 24px;
        font-weight: 600;
        color: var(--black);

        @media (max-width: $md - 1) {
            font-size: 15px;
        }
    }
}
select {
    background: var(--white);
    color: var(--black);
}
.icon {
    @extend [class^=icon-];
}

a {
    color: var(--primary-color);
}

hr {
    border: 0;
    border-bottom: 1px solid var(--grey);
}

html:not(.html-home-page) {
    .page {
        padding: 0 10px;
    }

}
html:not(.html-home-page) {

    @media (max-width: $sm - 1) {
        .product-details-page .page-body > .container {
            padding-left: 0;
            padding-right: 0;
        }

        .product-details-page, .page.category-page {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}