.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media only screen and (max-width: $xs - 1) {
        margin: {
            left: -7.5px;
            right: -7.5px;
        }
    }

    @media only screen and (min-width: $sm) {
        margin: {
            left: -7.5px;
            right: -7.5px;
        }
    }
}
.align-items-end {
    align-items: flex-end;
}
.justify-content-center {
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

%w-100-default {
    width: 100%;
}

@each $property, $value in $breakpoints {

    @for $grid from 1 through 12 {
        .col-#{$property}-#{$grid} {
            @extend %w-100-default;
        }
    }
}

@for $num from 1 through 12 {
    .col-#{$num} {
        width: (100% * $num)/12;

        padding: {
            left: 7.5px;
            right: 7.5px;
        }
    }
}


@each $property, $value in $breakpoints {

    @media only screen and (min-width: $value) {
        @for $num from 1 through 12 {
            .col-#{$property}-#{$num} {
                width: (100% * $num)/12;

                padding: {
                    left: 7.5px;
                    right: 7.5px;
                }
            }
        }
    }
}

@media (min-width: $lg) and (max-width: $xl - 1) {
    .col-lg-2_5 {
        width: 20%;

        padding: {
            left: 7.5px;
            right: 7.5px;
        }
    }
}
@media (min-width: $xl)  {
    .col-xl-1_5 {
        width: 12.5%;

        padding: {
            left: 7.5px;
            right: 7.5px;
        }
    }
    .col-xl-2_5 {
        width: 20%;

        padding: {
            left: 7.5px;
            right: 7.5px;
        }
    }
    .col-xl-9_5 {
        width: 80%;

        padding: {
            left: 7.5px;
            right: 7.5px;
        }
    }
}


.align-items-center {
    align-items: center;
}