@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot') format('embedded-opentype'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.svg') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: 500;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backward:before {
  content: "\e900";
}
.icon-bookmark:before {
  content: "\e901";
}
.icon-bookmark-2:before {
  content: "\e902";
  
}
.icon-box-border:before {
  content: "\e903";
  
}
.icon-bubbles1:before {
  content: "\e904";
}
.icon-calendar:before {
  content: "\e905";
  
}
.icon-call:before {
  content: "\e906";
  
}
.icon-call-us:before {
  content: "\e907";
  
}
.icon-card:before {
  content: "\e908";
  
}
.icon-chat:before {
  content: "\e909";
  
}
.icon-checkbox-checked:before {
  content: "\e90a";
}
.icon-checkbox-unchecked:before {
  content: "\e90b";
}
.icon-circle-down:before {
  content: "\e90c";
}
.icon-circle-left:before {
  content: "\e90d";
}
.icon-circle-right:before {
  content: "\e90e";
}
.icon-circle-up:before {
  content: "\e90f";
}
.icon-close:before {
  content: "\e910";
  
}
.icon-close-2:before {
  content: "\e911";
  
}
.icon-compare-list:before {
  content: "\e912";
  
}
.icon-cross:before {
  content: "\e913";
}
.icon-discover:before {
  content: "\e914";
  
}
.icon-down-arrow:before {
  content: "\e915";
}
.icon-down-arrow-2:before {
  content: "\e916";
  
}
.icon-edit-2:before {
  content: "\e917";
  
}
.icon-edit-svgrepo-com:before {
  content: "\e918";
}
.icon-email-1:before {
  content: "\e919";
  
}
.icon-email-2:before {
  content: "\e91a";
  
}
.icon-express:before {
  content: "\e91b";
  
}
.icon-facebook2:before {
  content: "\e91c";
}
.icon-facebook3:before {
  content: "\e91d";
  
}
.icon-facebook-4:before {
  content: "\e91e";
  
}
.icon-file-empty:before {
  content: "\e91f";
}
.icon-file-pdf:before {
  content: "\e920";
}
.icon-file-picture:before {
  content: "\e921";
}
.icon-file-text2:before {
  content: "\e922";
}
.icon-file-word:before {
  content: "\e923";
}
.icon-filter:before {
  content: "\e924";
  
}
.icon-folder:before {
  content: "\e925";
}
.icon-folder-2:before {
  content: "\e926";
  
}
.icon-forward2:before {
  content: "\e927";
}
.icon-Free-Delivery:before {
  content: "\e928";
  
}
.icon-google-plus2:before {
  content: "\e929";
}
.icon-gride-view:before {
  content: "\e92a";
  
}
.icon-gride-view-2:before {
  content: "\e92b";
  
}
.icon-Hamburger-nav:before {
  content: "\e92c";
  
}
.icon-image:before {
  content: "\e92d";
  
}
.icon-instagram:before {
  content: "\e92e";
  
}
.icon-left-arrow:before {
  content: "\e92f";
  
}
.icon-left-arrow-2:before {
  content: "\e930";
  
}
.icon-left-arrow-3:before {
  content: "\e931";
  
}
.icon-linkedin:before {
  content: "\e932";
}
.icon-linkedin2:before {
  content: "\e933";
}
.icon-list-view:before {
  content: "\e934";
  
}
.icon-list-view-2:before {
  content: "\e935";
  
}
.icon-location:before {
  content: "\e936";
  
}
.icon-lock:before {
  content: "\e937";
  
}
.icon-mastercard:before {
  content: "\e938";
  
}
.icon-minus:before {
  content: "\e939";
  
}
.icon-next:before {
  content: "\e93a";
}
.icon-not:before {
  content: "\e93b";
  
}
.icon-not-2:before {
  content: "\e93c";
  
}
.icon-office:before {
  content: "\e93d";
  
}
.icon-paypal-2:before {
  content: "\e93e";
  
}
.icon-pdf:before {
  content: "\e93f";
  
}
.icon-pencil:before {
  content: "\e940";
}
.icon-pinterest1:before {
  content: "\e941";
}
.icon-pinterest21:before {
  content: "\e942";
}
.icon-plus:before {
  content: "\e943";
  
}
.icon-previous:before {
  content: "\e944";
}
.icon-price-tags:before {
  content: "\e945";
}
.icon-quick-view:before {
  content: "\e946";
}
.icon-radio-unchecked:before {
  content: "\e947";
}
.icon-remove:before {
  content: "\e948";
  
}
.icon-return-policy:before {
  content: "\e949";
  
}
.icon-right-arrow:before {
  content: "\e94a";
  
}
.icon-right-arrow-2:before {
  content: "\e94b";
  
}
.icon-rss:before {
  content: "\e94c";
}
.icon-search-1:before {
  content: "\e94d";
  
}
.icon-search-2:before {
  content: "\e94e";
  
}
.icon-shopping-cart-1:before {
  content: "\e94f";
  
}
.icon-shopping-cart-2:before {
  content: "\e950";
  
}
.icon-shopping-cart-3:before {
  content: "\e951";
  
}
.icon-shopping-van:before {
  content: "\e952";
  
}
.icon-star-empty1:before {
  content: "\e953";
}
.icon-star-full1:before {
  content: "\e954";
}
.icon-star-half1:before {
  content: "\e955";
}
.icon-star-new:before {
  content: "\e956";
  
}
.icon-support:before {
  content: "\e957";
  
}
.icon-twitter-1:before {
  content: "\e958";
  
}
.icon-up-arrow:before {
  content: "\e959";
  
}
.icon-up-arrow-2:before {
  content: "\e95a";
  
}
.icon-usd:before {
  content: "\e95b";
  
}
.icon-usd-2:before {
  content: "\e95c";
  
}
.icon-user-1:before {
  content: "\e95d";
  
}
.icon-user-2:before {
  content: "\e95e";
  
}
.icon-user-3:before {
  content: "\e95f";
  
}
.icon-van:before {
  content: "\e960";
  
}
.icon-visa:before {
  content: "\e961";
  
}
.icon-whatsapp:before {
  content: "\e962";
}
.icon-wishlist-1:before {
  content: "\e963";
  
}
.icon-word:before {
  content: "\e964";
  
}
.icon-Worldwide-Shipping:before {
  content: "\e965";
  
}
.icon-yes:before {
  content: "\e966";
  
}
.icon-yes-2:before {
  content: "\e967";
  
}
.icon-yes-3:before {
  content: "\e968";
  
}
.icon-youtube:before {
  content: "\e969";
  
}
.icon-bubbles:before {
  content: "\e96c";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-half:before {
  content: "\e9d8";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
