.button {
    &-1 {
        border: 1px solid var(--black);
        background: var(--black);
        padding: 8px 15px;
        color: var(--white);
        font-size: 18px;
        line-height: 18px;
        border-radius: 3px;
        font-weight: 500;
       
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
            background: var(--secondary-color);
            border-color: var(--secondary-color);
        }

        &.search-box-button {
            font-size: 0;
            background-color: var(--primary-color);
            display: inline-flex;
            border: none;
            padding: 0 12px;

            &::before {
                content: "\e94e";
                font-size: 14px;
                line-height: 35px;
                @extend [class^="icon-"];
            }

            &:hover {
                background-color: var(--secondary-color);
            }
        }
    }
}
.button {
    &-2.product-box-add-to-cart-button,
    &-2.add-to-compare-list-button,
    &-2.quick-view-button,
    &-2.add-to-wishlist-button {
        font-size: 0;
        display: inline-block;
        height: 40px;
        width: 40px;
        position: relative;
        border: none;
        background-color: var(--primary-color);
        transition: all 0.25s;
        border-radius: 50%;
        cursor: pointer;
        vertical-align: middle;
        color: var(--white);


        @media (min-width: $md) {

            &:hover {
                background-color: var(--secondary-color);
            }
        }


        &:hover {
            background-color: var(--secondary-color);
        }

        &::before {
            font-family: 'icomoon' !important;
            font-style: normal;
            font-weight: 500;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            font-size: 18px;
        }

        &.button-outline {
            background-color: var(--white);
            border: 2px solid var(--primary-color);
            color: var(--primary-color);

            &:hover {
                background-color: var(--secondary-color);
                border: 2px solid var(--secondary-color);
                color: var(--primary-color);
            }
        }
    }

    &-2.product-box-add-to-cart-button {
        background-color: var(--secondary-color);

    @media (min-width: $md) {
        &:hover {
            background-color: var(--black);
        }
    }

        &::before {
            content: "\e94f";
        }
    }

    &-2.add-to-compare-list-button {
        &::before {
            content: "\e912";
        }
    }

    &-2.add-to-wishlist-button {
        &::before {
            content: "\e963";
        }
    }

    &-2.quick-view-button {
        &::before {
            content: "\e94d";
        }
    }
}