.dropdown {
    position: relative;

    .dropdown-list {
        position: absolute;
        top: 100%;
        left: 0;
        opacity: 0;
        z-index: -1;
        box-shadow: $shadow-style-1;
        visibility: hidden;
        transition: opacity 0.5s, margin-top 0.5s;
        min-width: 100%;
        white-space: nowrap;
        margin-top: 10px;
        text-align: left;
        background: var(--white);

        li {
            display: block;
            padding: 8px 15px;

            a {
                color: var(--black) !important;

                &:hover {
                    color: var(--black-faded) !important;
                }
            }

            a::before {
                display: none;
            }
        }
    }

    &:hover {
        .dropdown-list {
            opacity: 1;
            z-index: 10;
            margin-top: 0;
            visibility: visible;
        }
    }
}
