
.inputs,
.advanced-search,
.edit-address {
    select {
        width: 100%;
        display: inline-block;
        border: none;
        border-bottom: 1px solid var(--grey);
        color: var(--black-faded);
        height: 32px;
        outline: none;
        padding: 5px;
        border-radius: 0;
    }
}

.inputs {
    margin-bottom: 15px;
    position: relative;

    label {
        color: var(--black);
    }

    textarea {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid var(--grey);
        color: var(--black-faded);
        height: 32px;
        outline: none;
        padding: 5px;
        min-height: 80px;
        border-radius: 0;

        &:focus {
            border-bottom: 1px solid var(--black-faded);
        }
    }

    input {
        &[type="text"],
        &[type="email"],
        &[type="password"],
        &[type="date"],
        &[type="date"],
        &[type="tel"] {
            display: block;
            width: 100%;
            border: none;
            border-bottom: 1px solid var(--grey);
            color: var(--black-faded);
            height: 32px;
            outline: none;
            padding: 5px;

            &:focus {
                border-bottom: 1px solid var(--black-faded);
            }
        }
    }

    .required {
        position: absolute;
        top: 10px;
        right: 10px;
        color: var(--red);
    }
}
input {
    &[type="checkbox"] {
        display: none;

        & ~ label {
            display: inline-flex;
            align-items: center;
            padding-left: 26px;
            position: relative;
            font-size: 14px;
            line-height: 20px;
            margin-right: 15px;

            &::before {
                content: "";
                border: 1px solid var(--grey);
                border-radius: 3px;
                height: 16px;
                width: 16px;
                margin-right: 10px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                line-height: 8px;
                font-size: 8px;
                position: absolute;
                left: 0;
                top: 2px;
                @extend [class^="icon-"];
            }
        }


        &:checked ~ label {
            &::before {
                content: "\e967";
                background: var(--white);
                border-color: var(--primary-color);
                color: var(--primary-color);
                font-size: 8px;
                line-height: 13px;
                padding: 1px 2px;
            }
        }
    }

    &[type="radio"] {
        display: none;

        & + label {
            display: inline-flex;
            align-items: center;
            padding-left: 26px;
            position: relative;
            font-size: 14px;
            line-height: 20px;
            margin-right: 15px;

            &::before {
                content: "";
                border: 1px solid var(--grey);
                border-radius: 50%;
                height: 16px;
                width: 16px;
                margin-right: 10px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                vertical-align: middle;
                line-height: 8px;
                font-size: 8px;
                position: absolute;
                left: 0;
                top: 2px;
            }
        }


        &:checked + label {
            &::before {
                background: var(--primary-color);
                border: 1px solid var(--grey);
                box-shadow: 0 0 0px 2px var(--white) inset;
            }
        }
    }
}


[class*="error"] {
    color: red;
    font-size: 13px;
}

.date-picker-wrapper {
    select {
        width: calc(33% - 10px);
        display: inline-block;
        border: none;
        border-bottom: 1px solid var(--grey);
        color: var(--black-faded);
        height: 32px;
        outline: none;
        padding: 5px;
        border-radius: 0;

        &:nth-child(2) {
            margin: 0 15px;
        }
    }
}


.rating-options {
    input {
        display: inline-block;
    }
}