.table-wrapper {
    overflow-x: auto;
}

.forum-table {
    width: 100%;
    border-collapse: collapse;
    font-weight: 600;
    box-shadow: $shadow-style-2;
    margin-bottom: 30px;

    tr {
        box-shadow: $shadow-style-6;
    }


    th {
        background: var(--black);
        color: var(--white);
        padding: 15px 10px;
        border-collapse: collapse;

        &.product {
            max-width: 30%;
        }
    }

    td {
        padding: 15px 10px;

        label {
            display: none;
        }

        a {
            text-decoration: none;
        }

        &.forum-details {
            min-width: 300px;
        }
    }
}
