.address-list-page {
    .page-body {
        border: none;
        padding: 0;
        box-shadow: none;

        .title {
            margin: 0 0 15px;

            strong {
                font-style: italic;
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
            }
        }

        .buttons {
            position: absolute;
            bottom: 8px;
            left: 0;
            width: 100%;
            padding: 0 15px;

            button {
                background: #FFFFFF;
                border: 1px solid #C6CCD0;
                box-sizing: border-box;
                border-radius: 3px;
                font-weight: 700;
                font-size: 14px;
                line-height: 17px;
                color: var(--black);
                width: auto;


                &::before {
                    content: "\e917";
                    font-family: "icomoon" !important;
                    font-size: 16px;
                    margin-right: 8px;
                    display: inline-block;
                    vertical-align: middle;
                    font-weight: 500;
                }

                &.delete-address-button {
                    &::before {
                        content: "\e948";
                    }
                }
            }
        }
    }

    .address-list {
        align-items: stretch;

        .address-item {
            min-height: 100%;
            position: relative;
            padding: 15px;
            padding-bottom: 60px;
            overflow: hidden;
        }
    }

    .add-button {
        text-align: center;
        .add-address-button {
            background: var(--black);
            border: none;

            &::before {
                content: "\e943";
                font-family: "icomoon" !important;
                font-size: 16px;
                margin-right: 8px;
                font-weight: 500;
            }
        }
    }
}
