.account-page {
    .page-body {
        @extend .card;
        margin: 15px 0 40px;
    }

   

    .info {
        list-style-type: none;
    }
    .button {
        &-1,
        &-2 {
            border: 1px solid var(--black);
            background: var(--black);
            padding: 8px 15px;
            color: var(--white);
            font-size: 16px;
            line-height: 18px;
            border-radius: 3px;
            font-weight: 500;
           
            cursor: pointer;
            transition: all 0.25s;

            &:hover {
                background: var(--secondary-color);
                border-color: var(--secondary-color);
            }

            &.search-box-button {
                font-size: 0;
                background-color: var(--primary-color);
                display: inline-flex;
                border: none;
                padding: 0 12px;

                &::before {
                    content: "\e94e";
                    font-size: 14px;
                    line-height: 35px;
                    @extend [class^="icon-"];
                }

                &:hover {
                    background-color: var(--secondary-color);
                }
            }
        }
    }
}

.block-account-navigation {
    .title {
        text-decoration: underline;
    }
    .list {
        li {
            margin-bottom: 15px;

            &.active {
                a {
                    color: var(--primary-color);
                    font-weight: 600;
                }
            }
        }
    }
}

.customer-info-page {
    form {
        width: 410px;
        max-width: 100%;
        margin: 0 auto;
        color: #767677;
    }

    .inputs {
        margin-bottom: 20px;

        > label {
            font-weight: 700;
            margin-bottom: 10px;
            color: #767677;

            &::before {
                font-family: "icomoon" !important;
                font-size: 16px;
                vertical-align: middle;
                margin-right: 8px;
                display: inline-block;
            }

            &[for="LastName"],
            &[for="FirstName"] {
                &::before {
                    content: "\e95f";
                    height: 20px;
                    line-height: 20px;
                }
            }

            &[for="LastName"],
            &[for="FirstName"] {
                &::before {
                    content: "\e95f";
                    height: 20px;
                    line-height: 20px;
                }
            }

            &[for="Email"] {
                &::before {
                    content: "\e91a";
                    height: 20px;
                    line-height: 20px;
                }
            }
        }

        &.date-of-birth {
            label {
                &::before {
                    content: "\e905";
                    height: 20px;
                    line-height: 20px;
                }
            }
        }
    }
}