.header-links {
    ul {
        list-style-type: none;

        li {


            @media (max-width: $md - 1) {
                &:not(#topcartlink) {
                    display: none;
                }
            }

            display: inline-block;
            padding: 0 15px;

            @media (max-width: $md - 1) {
                &#topcartlink {
                    padding-right: 0;
                }
            }

            a {
                color: var(--black);
                font-weight: 400;
                font-size: 15px;
                text-decoration: none;
                display: block;

                &::before {
                    content: "\e95d";
                    @extend [class^="icon-"];
                    display: inline-block;
                    font-size: 26px;
                    color: var(--primary-color);
                    vertical-align: middle;
                    margin-right: 10px;
                }

                &.ico-wishlist {
                    &::before {
                        content: "\e963";
                    }
                }

                &.help-link {
                    &::before {
                        content: "\e906";
                    }
                }
            }


            &.user-account {
                padding-right: 0;
            }

            &:hover {
                a {
                    color: var(--primary-color);
                }
            }




            &[id="topcartlink"] {
                @media (min-width: $md) {
                    position: fixed;
                    top: 65%;
                    right: 0;
                    transform: translateY(-50%);
                    padding: 0;
                    z-index: 99;
                }

                a {
                    font-size: 0;
                    position: relative;
                    box-shadow: 0 10px 20px rgba(0,0,0,0.07), 0 6px 6px rgba(0,0,0,0.10);
                    border-radius: 5px;

                    &::before {
                        content: "\e94f";
                        font-size: 22px;
                        color: var(--black);

                        @media (min-width: $md) {
                            color: var(--white);
                            background: var(--black);
                            padding: 10px 20px;
                            margin: 0;
                            border-radius: 5px 5px 0 0;
                            font-size: 28px;
                            width: 100%;
                            text-align: center;
                        }
                    }

                    .cart-ammount {
                        font-size: 13px;
                        display: block;
                        background: var(--primary-color);
                        color: var(--white);
                        text-align: center;
                        padding: 5px;
                        border-radius: 0 0 5px 5px;
                        font-weight: 500;

                        @media (max-width: $md - 1) {
                            display: none;
                        }
                    }

                    .cart-qty {
                        font-size: 16px;
                        font-weight: 600;
                        height: 32px;
                        width: 32px;
                        line-height: 1;
                        display: flex;
                        background: var(--white);
                        position: absolute;
                        top: 0;
                        left: 0;
                        transform: translate(-50%,-50%);
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 1px solid var(--black);

                        @media (max-width: $md - 1) {
                            border: none;
                        }
                    }

                    @media (max-width: $md - 1) {
                        box-shadow: none;

                        .cart-qty {
                            background: var(--black-faded);
                            color: #fff;
                            font-size: 8px;
                            height: 16px;
                            width: 16px;
                            left: 16px;
                            top: 30%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }

}
