.header-menu {
    background: var(--black);

    > .mobile-menu-close {
        display: none;
    }

    @media (max-width: $md - 1) {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        box-shadow: $shadow-style-4;
        max-width: calc(100vw - 50px);
        margin: 0;
        padding: 15px;
        height: 100%;
        width: 300px;
        transform: translateX(-120%);
        transition: all 0.3s;

        > .container {
            overflow: hidden;
        }

        &.open {
            transform: translateX(0);
        }

        .mobile-topic-link-wrapper {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;

            .header-link-top {
                a {
                    display: block;
                    border-top: 1px solid #ddd;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 7px 10px;
                    text-decoration: none;
                    color: #333333;
                    img {
                        margin-right: 6px;
                    }
                }
            }
        }
    }

    .top-menu {
        &.mobile {
            ul {
                padding-left: 10px;
                padding-bottom: 10px;
            }

            a {
                display: block;
                padding: 5px 10px;
                color: var(--white);
                text-decoration: none;
            }

            @media (min-width: $md) {
                display: none;
            }
        }

        &.notmobile {
            display: none;
            text-align: center;
            @extend .container;

            @media (min-width: $md) {
                display: block;

                li {
                    display: inline-block;
                    position: relative;
                    padding: 0 15px;

                    a {
                        display: block;
                        text-decoration: none;
                        color: var(--white);
                        padding: 10px 0;
                    }

                    .sublist {
                        position: absolute;
                        left: 50%;
                        top: 100%;
                        visibility: hidden;
                        z-index: -10;
                        opacity: 0;
                        padding: 10px;
                        background: var(--black-faded);
                        min-width: 150px;
                        transform: translate(-50%, 15px);
                        transition: opacity 0.5s,transform 0.25s;

                        li {
                            display: block;
                            width: 100%;
                            font-size: 13px;
                        }
                    }

                    &:hover {
                        > .sublist {
                            display: block;
                            visibility: visible;
                            z-index: 10;
                            opacity: 1;
                            transform: translate(-50%, 0);
                        }
                    }
                }
            }
        }
    }

    .menu-toggle {
        color: var(--white);
        padding: 5px;

        @media (min-width: $md) {
            display: none;
        }
    }
}

.mega-menu-toggle {
    border: none;
    background: var(--white);
    font-weight: 700;

    @media (min-width: $md) {
        display: none;
    }
}
