.cart {
    width: 100%;
    border-collapse: collapse;
    font-weight: 600;
    box-shadow: $shadow-style-2;
    margin-bottom: 30px;

    tr {
        box-shadow: $shadow-style-6;
    }


    th {
        background: var(--black);
        color: var(--white);
        padding: 15px 10px;
        border-collapse: collapse;

        &.product {
            max-width: 30%;
        }
    }

    td {
        padding: 15px 10px;
        font-weight: 300;

        @media (max-width: $md - 1) {
            vertical-align: middle;
        }

        label {
            display: none;
        }

        a {
            text-decoration: none;
        }

        &.product {
            max-width: 30%;

            img {
                width: 75px;
            }
        }

        &.product-picture {
            width: 100px;
        }

        &.remove-from-cart {
            text-align: center;

            .remove-btn {
                border: none;
                font-size: 20px;
                background: none;
                cursor: pointer;

                &:hover {
                    color: var(--red);
                }

                &::before {
                    content: "\e948";
                    @extend .icon;
                }
            }
        }

        .product-name {
            color: var(--black);
            font-weight: 700;
        }

        .attributes {
            font-weight: 300;
            line-height: 20px;
        }

        .edit-item {
            a {
                color: var(--secondary-color);
                font-weight: 300;
            }
        }
    }

    .info {
        @media (min-width: $md) {
            display: none !important;
        }
    }

    .cart-quantity {

        @media (max-width: $md - 1) {
            input {
                width: 60px;
            }


            .qty-button {
                display: none;
            }
        }
    }

    .fa {
        font-family: "icomoon" !important;
        font-style: normal;

        &.fa-plus::before {
            content: "\e943";
            font-size: 16px;
            display: inline-block;
        }

        &.fa-minus::before {
            content: "\e939";
            font-size: 16px;
            display: inline-block;
        }
    }
}

@media (max-width: $md - 1) {
    .wishlist-content,
    .order-summary-content {
        .cart {
            tr {
                box-shadow: none;

                td {
                    display: table-cell;
                    border-bottom: 1px solid #DEE7EC;

                    &.subtotal {
                        display: table-cell;
                        font-weight: 700;
                    }

                    &.product-picture {
                        img {
                            max-width: 45px;
                        }
                    }
                }
            }


            .jsmartable-row {
                box-shadow: none;

                .jsmartable-col {
                    padding: 0;

                    tr {
                        box-shadow: none;

                        td {
                            padding: 10px 10px;
                            border: none !important;
                            background: none !important;
                            vertical-align: top;

                            .remove-btn {
                                border: none;
                                background: none;

                                &::before {
                                    font-family: "icomoon" !important;
                                    content: "\e948";
                                    display: inline;
                                    font-size: 16px;
                                    color: var(--red);
                                }
                            }

                            .product-name {
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
}