.cart-quantity {
    position: relative;
    display: inline-block;

    input {
        display: inline-block;
        width: 90px;
        height: 40px;
        padding: 5px;
        border-radius: 3px;
        border: 1px solid var(--grey);
        text-align: center;
    }

    .qty-button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 10px;
        cursor: pointer;
        background: var(--white);
        border: 1px solid var(--grey);
        width: 20px;
        height: 20px;
        line-height: 20px;
        &.minus,
        &.decrement {
            top: initial;
            bottom: 0;
        }
    }
}
